body {
	padding: 10px 20px;
	font-family: "Ubuntu", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-moz-osx-font-smoothing: grayscale;
}

body>ul {
	padding-left: 0px;
}

body>ul li {
	border-bottom: 1px solid rgb(211, 211, 211);
	list-style: none;
	padding-bottom: 8px;
	padding-top: 5px;
}

div>label {
	cursor: pointer;
}

.stop-all>input,
.stop-this>input {
	float: right;
}